@model ToDoItemModel

<tr class="px-4">
    <td class="px-4"><input type="checkbox" checked="@Model.IsCompleted" name="IsCompleted" /></td>
    <td class="px-4">@Model.Description</td>
    <td class="px-4">@Model.DueBy?.ToString("MM/dd/yyyy")</td>
</tr>

@*<div id="todoitem-@Model.Id" class="grid grid-flow-col auto-cols-auto">
    <div><input type="checkbox" checked="@Model.IsCompleted" name="IsCompleted" /></div>
    <div>@Model.Description</div>
    <div>@Model.DueBy?.ToString("MM/dd/yyyy")</div>
</div>*@